mat-toolbar {
    justify-content: center;
}
router-outlet {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1380px;
}
.nav-container {
    display: flex;
    width: 100%;
    text-align: center;
    max-width: 680px;
    justify-content: space-between;
    .left-nav {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }
    .logo {
        color: #ed4c67;
        font-size: 14px;
    }

}