<mat-toolbar>
  <div class="nav-container">
      <div class="right-nav logo">        
        <a routerLink="/home" routerLinkActive="active">Ready, Set, Launch</a>
      </div>
      <div class="left-nav">
          <a routerLink="/shop" routerLinkActive="active">Shop</a>
          <a routerLink="/30x30" routerLinkActive="active">30X30</a>
          <a routerLink="/about" routerLinkActive="active">About</a>
      </div>
  </div>
</mat-toolbar>
<router-outlet mat-app-background></router-outlet>
